@import url('https://fonts.googleapis.com/css2?family=Georama&family=Inter&family=Neucha&family=Nunito&family=Open+Sans&family=Raleway:wght@200&family=Work+Sans:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georama', sans-serif;
}